backend/node_modules
frontend/node_modules
blockchain/node_modules
blockchain/build
blockchain/deployment.json
backend/uploads/*
node_modules/*
**/node_modules/
ai/__pycache__/main.cpython-312.pyc
ai/source.jpg
ai/source_b64.txt
backend/temp/*
